{
  "rules": {
    "quotes": [2, "single"],
    "no-multi-spaces": [2, { exceptions: { "VariableDeclarator": true } }]
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
}
