header.main-header.clearfix
  .container
    a.logo(href="#")
      img(src="http://kodix.ru/assets/logo.png", alt="Kodix")
    
    .primary_nav
      ul.ul_simple.clearfix
        li.primary_nav_item
          a.primary_nav_link(href="#")
            | Доставка
        li.primary_nav_item
          a.primary_nav_link(href="#")
            | Оплата
        li.primary_nav_item
          a.primary_nav_link(href="#")
            | Контакты
        li.primary_nav_item
          a.primary_nav_link(href="#")
            | Карта сайта
            
            
            
            .header_left_side.clearfix
               .twed_phone.has_icon
                 a.phone_link(href="tel:+74956413848") 8 800 12-84-10
               .twed_email.has_icon
                 a.email_link.primary_link(href="mailto:help@twed.com") help@twed.com


               a.logo(href="#")
                 img(src="http://kodix.ru/assets/logo.png", alt="Kodix")

               .header_right_side.clearfix
                 .user_auth.logged <!-- + logged -->
                    .user_account.has_icon
                       .user_hello 
                       | Hi there, 
                       a.primary_link(href="#") twedgamer!

                   .user_cart.has_icon



    
  
