meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
  
block title

link(rel="stylesheet", href="css/style.css")
link(rel="stylesheet", href="css/temp.css")

script(scr="js/main.js")
