doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    block title  
    link(rel="stylesheet", href="resources/css/style.css")
      
  body
    include header
    
    block content                    
    
    include footer

    script(scr="js/main.js")
